In [3]:
#Complete the code to print out Hello Python! in a formatted string.

#message = "Python"
#Greeting = None
#print(Greeting)
     

message = "python"
Greeting = f"Hello {message}!" 

print (Greeting)
print("_______________________________")

Hello python!
_______________________________

In [11]:

#Perform the arithmetic operation on a and b.
#Perform concatenation on a and b.

a = 5
b = "10"

# perform addition expected output is 15
addition = a + int(b)
print(addition)

# perform concatenation expected output is 510
concatenation = str(a) + str(b)
print("The concatenation results is ", concatenation)

15
The concatenation results is  510

In [15]:
#Complete the code to extract and print out the domain name from the email address.

email = "python_dev@estarta.com"

# extract domain from email
domain = email[11:22]
print(domain)
     
print("_____________________________")

email = "python_dev@estarta.com"

# Split the email address from right at '@' to separate the username and domain
domain = email.rsplit('@', 1)[-1]

# Print the domain name
print("Domain:", domain)

estarta.com
_____________________________
Domain: estarta.com

In [19]:


#Perform the following operations on the "Cars" list:

    #Add "Honda" to the list.
    #Replace the second element with "Ford".
    #Remove "Toyota" from the list.
    #Check if "Subaru" is in the list.


cars = ["Toyota", "Mercedes", "BMW", "Jeep"]

# add "Honda" to the list

cars.append("Honda")

print("_________________________")

#new_list = ["Honda"]
#cars.extend(new_list)
#print(cars)

# replace the second element with "Ford"

cars[1] = "Ford"

print (cars)

# remove Toyota from the list

if "Toyota" in cars:
    cars.remove("Toyota")


print(cars)

# print True if Subaru is in the list else False

print("Subaru" in cars)

_________________________
['Toyota', 'Ford', 'BMW', 'Jeep', 'Honda']
['Ford', 'BMW', 'Jeep', 'Honda']
False

In [20]:
#Complete the code to do the following:
"""
    Create a new dictionary with the following key-value pairs: "name": "Ahmad", "age": 25, "occupation": "doctor", "country": "Jordan"
    Add a new key-value pair with "city": "Amman"
    Update the occupation to "Surgeon"
    Remove the "country" key-value pair from the dictionary.
    print out the updated dictionary.

"""

# complete the code to perform the operations listed above
person = {"name": "Ahmad", "age": 25, "occupation": "doctor", "country": "Jordan"}

print(person)

# Add a new key-value pair with "city": "Amman"
person["city"] = "Amman"

print(person)
     
# Update the occupation to "Surgeon"
person["occupation"] = "Surgeon"

# Remove the "country" key-value pair from the dictionary

if "country" in person:
    del person["country"]

# Print out the updated dictionary

print(person)

{'name': 'Ahmad', 'age': 25, 'occupation': 'doctor', 'country': 'Jordan'}
{'name': 'Ahmad', 'age': 25, 'occupation': 'doctor', 'country': 'Jordan', 'city': 'Amman'}
{'name': 'Ahmad', 'age': 25, 'occupation': 'Surgeon', 'city': 'Amman'}

In [23]:
'''
Complete the folowing opertasions on the "numbers" set:

    Check if 4 is in the set.
    Add 5 to the set.
    Remove 3 from the set.
    Try to add a duplicate element to the set.
    Create a new set that contains numbers from in the range of m+1 to m+10, where m is the maximum number in the "numbers" set.
    Create a set that is the union of the two sets.


numbers = {2, 5, 16, 8, 7, 9, 3, 1}

# your code here

print(numbers)
# print the union of the two sets
#print(new_set)
     
     '''


numbers = {2, 5, 16, 8, 7, 9, 3, 1}

# Check if 4 is in the set

print(4 in numbers)

# Add 5 to the set
numbers.add(5)

print(numbers)

# Remove 3 from the set
numbers.remove(3)

print (numbers)

# Try to add a duplicate element to the set (no effect since sets do not allow duplicates)
numbers.add(5)

print(numbers)

# Create a new set that contains numbers from m+1 to m+10, where m is the maximum number in the "numbers" set
m = max(numbers)
new_set = {m + i for i in range(1, 11)}

print(new_set)

# Create a set that is the union of the two sets
union_set = numbers.union(new_set)

# Print the updated numbers set
print("Updated numbers set:", numbers)

# Print the union of the two sets
print("Union of numbers and new_set:", union_set)

False
{1, 2, 3, 5, 7, 8, 9, 16}
{1, 2, 5, 7, 8, 9, 16}
{1, 2, 5, 7, 8, 9, 16}
{17, 18, 19, 20, 21, 22, 23, 24, 25, 26}
Updated numbers set: {1, 2, 5, 7, 8, 9, 16}
Union of numbers and new_set: {1, 2, 5, 7, 8, 9, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26}